*{
    
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: #214D09;
    font-weight: 700;
    font-size: large;
}

html,body{
    margin: 0 !important;
    padding: 0 !important;
}

.header{
    display: flex;
    width: 25%;
    justify-content: space-between;
}

.heart{
    width: 25%;
}

.score{
    border: 2px solid #214D09;
    box-shadow: #214D0970;
    border-radius: 40px;
    width: 35%;
}
canvas{
    border:1px solid #000000;
}